<!-- title text -->
<div class='row justify-content-center w-100'>
  <% provide(:title, 'Reset Password') %>
  <h1 class='text-primary'>Reset Password</h1>
</div>

<div class="row w-50 justify-content-center pt-4">
  <div class="w-100">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= hidden_field_tag :email, @user.email %>
      
      <%= f.label :password, 'New Password', class: 'pt-2' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password", class: 'pt-2' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Reset Password", class: "btn btn-primary btn-block mt-3" %>
    <% end %>
  </div>
</div>