<tr>
  <% if !current_user.nil? && listing.user_id == current_user.id %>
    <td><%= link_to listing.title, edit_listing_path(listing) %></td>
  <% else %>
    <td><%= link_to listing.title, listing_path(listing) %></td>
  <% end %>

  <td><%= listing.isbn %></td>
  <td><%= listing.condition %></td>

  <% if !current_user.nil? && listing.user_id == current_user.id %>
    <td><%= link_to 'Delete', listing_path(listing), method: :delete, 
        data: { confirm: 'Are you sure?'} %></td>
  <% else %>
    <% if logged_in? %>
      <td><%= link_to 'Report', new_report_path(listing) %></td>
    <% end %>
  <% end %>
</tr>