  <tr class="clickable-row">
    <td><%= link_to listing.title, listing_path(listing) %></td>
    <td><%= listing.isbn %></td>
    <td><%= listing.condition %></td>
    <% if !current_user.nil? && listing.email == current_user.email %>
      <td><%= link_to 'Delete', listing_path(listing), method: :delete, 
                data: { confirm: 'Are you sure?'} %></td>
    <% else %>
      <% if logged_in? %>
      <td><%= link_to 'Report', new_report_path(listing) %></td>
      <% end %>
    <% end %>
</tr>