<div class="row justify-content-center w-100">
  <h1 class="text-primary">Book Listings</h1>
</div>
    
<div class="col-3 p-0">
  <%= form_tag(listings_path method: :get) do %>
    <%= text_field_tag :search, params[:store], :placeholder => "Search Listings", :class => "form-control mb-2" %>
    <%= submit_tag 'Search', :class => 'btn btn-primary', name: nil %>
  <% end %>
  <% if logged_in? %>
    <%= button_to 'New', new_listing_url, :class => 'btn btn-outline-primary btn-block mb-2', :method => :get %>
  <% end %>
</div>
    
<div class="col">
  <div class="row w-100 m-0">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Condition</th>
<<<<<<< HEAD
          <th>Report</th>
          <th>Link</th>
          <th>Delete</th>
        </tr>
 
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.title %></td>
            <td><%= listing.isbn %></td>
            <td><%= listing.condition %></td>
            <td><%= link_to 'Report', new_report_path(listing), method: :get %></td>
            <td><%= link_to 'Show', listing_path(listing) %></td>
            <td><%= link_to 'Delete', listing_path(listing), method: :delete, 
                data: { confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
=======
          <th></th>
        </tr>
 
        <%= render @listings %>
>>>>>>> 46fc176add7ab7dd1877dbca04bed2bfab8b9535
      </table>
    </div>
  </div>
</div>
