<div class="container">
  <div class="row justify-content-center bg-white shadow p-3 m-4">
    <div class="row justify-content-center w-100">
      <h1>Listings</h1>
    </div>
 
   <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>ISBN</th>
        <th>Email</th>
        <th>Condition</th>
        <th>Link</th>
        <th>Delete</th>
      </tr>
 
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.name %></td>
          <td><%= listing.isbn %></td>
          <td><%= listing.email %></td>
          <td><%= listing.condition %></td>
          <td><%= link_to 'Show', listing_path(listing) %></td>
          <td><%= link_to 'Delete', 
            listing_path(listing), 
            method: :delete, 
            data: { confirm: 'Are you sure?'}
            %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Home', root_url %>
    </div>
  </div>
</div">
