<div class="row justify-content-center w-100">
  <% provide(:title, "New Listing") %>
  <h1 class='text-primary'>New Textbook Listing</h1>
</div>
    
<div class="row justify-content-center w-100">
  <%= form_for :listing, :html => { :class => "justify-content-center w-50" }, url: listings_path do |f| %>

    <% if @listing.errors.any? %>
        <h4>
          <%= pluralize(@listing.errors.count, "error") %> prohibited
              this article from being saved:
        </h4>
            <ul>
              <% @listing.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
    <% end %>
  
    <div class="m-2">
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => 'w-100' %>
    </div>
  
    <div class="m-2">
      <%= f.label :isbn %><br>
      <%= f.text_field :isbn, :class => 'w-100' %>
    </div>
  
    <div class="m-2">
      <div class="radio">
        <%= f.label :condition %><br>
        <%= f.radio_button(:condition, "Perfect", :checked => true) %>
        <%= label_tag(:condition_perfect, "Perfect") %>
      </div>
      <div class="radio">
        <%= f.radio_button(:condition, "Good") %>
        <%= label_tag(:condition_good, "Good") %>
      </div>
      <div class="radio">
        <%= f.radio_button(:condition, "Worn") %>
        <%= label_tag(:condition_worn, "Worn") %>
      </div>
      <div class="radio">
        <%= f.radio_button(:condition, "Poor") %>
        <%= label_tag(:condition_poor, "Poor") %>
      </div>
    </div>
  
    <div class="row justify-content-center m-2">
      <div class="col">
        <%= f.submit :Back, :class => "btn btn-outline-primary btn-block" %>
      </div>
      <div class="col">
        <%= f.submit :Submit, :class => "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>
