<div class="row w-100">
    <h1>Name:</h1>
    <%= @listing.title %>
</div>

<div class="row w-100">
    <h1>ISBN:</h1>
    <%= @listing.isbn %>
</div>

<div class="row w-100">
    <h1>Email:</h1>
    <%= @listing.email %>
</div>

<div class="row w-100">
    <h1>Condition:</h1>
    <%= @listing.condition %>
</div>
        
<%= link_to 'Book List', listings_path %>
