<div class="row justify-content-center w-100">
   <h1 class='text-primary'><%= @listing.title %></h1>
</div>

<div class="row justify-content-center w-100">
    <div class="justify-content-center w-50">
        <div class="m-2">
            <h4>ISBN</h4>
            <%= @listing.isbn %>
        </div>
    
        <div class="m-2">
            <h4>Condition</h4>
            <%= @listing.condition %>
        </div>
        
        <div class="row justify-content-center m-2">
          <div class="col">
            <%= button_to 'Back', about_path, :class => "btn btn-outline-primary btn-block" %>
          </div>
          <div class="col">
            <%= button_to 'Contact', about_path, :class => "btn btn-primary btn-block" %>
          </div>
        </div>
    </div>
</div>
