<p>
    <strong>Name:</strong>
    <%= @listing.name %>
</p>

<p>
    <strong>ISBN:</strong>
    <%= @listing.isbn %>
</p>

<p>
    <strong>Email:</strong>
    <%= @listing.email %>
</p>

<p>
    <strong>Condition:</strong>
    <%= @listing.condition %>
</p>
<%= link_to 'Book List', listings_path %>