<div class="row justify-content-center w-100">
    <% provide(:title, @listing.title) %>
   <h1 class='text-primary'>
       <%= @listing.title %>
   </h1>
</div>

    <% if has_reports? %>
    <div class="w-100 p-3">
            <div class="alert alert-danger">
                    Careful! This listing has <%= @listing.reports.count %> 
                    reports. Use extra caution.
            </div>
        </div>
    <% end %>

<div class='row w-50 pb-2'>
    <div class= 'col-4'>
        
        
        <% if not @listing.isbn.blank? %>
            <div class="m-2">
                <h4>ISBN</h4>
                <%= @listing.isbn %>
            </div>
        <% end %>
    
        <div class="m-2">
            <h4>Condition</h4>
            <%= @listing.condition %>
        </div>
        
        <% if not @listing.comments.blank? %>
            <div class="m-2">
                <h4>Comments</h4>
                <%= @listing.comments %>
            </div>
        <% end %>
    </div>
</div>

        <div class="row justify-content-center w-100">
          <div class="col w-50">
            <%= button_to 'Back', listings_url, method: :get, :class => 'btn btn-outline-primary btn-block' %>
          </div>
          <div class="col w-50">
            <%= button_to 'Message', new_listing_message_url(@listing), method: :get, :class => 'btn btn-primary btn-block' %>
          </div>
        </div>
    </div>
</div>