<!-- title text -->
<div class='row justify-content-center w-100'>
  <% provide(:title, "Edit user") %>
  <h1 class='text-primary'>User Info</h1>
</div>

<div class="row w-50 justify-content-center pt-4">
  <div class="w-100">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <% if flash[:notice] %>
        <div class='alert alert-danger text-center bg-red'>
          <%= flash[:notice] %>
        </div>
      <% end %>
      
      <%= f.label :fname, 'First Name' %>
      <%= f.text_field :fname, class: 'form-control' %>

      <%= f.label :lname, 'Last Name', class: 'pt-2' %>
      <%= f.text_field :lname, class: 'form-control' %>

      <%= f.submit "Update Info", class: "btn btn-primary btn-block mt-3" %>
    <% end %>
  </div>
</div>