<!-- Title Text -->
<div class="column justify-content-center">
    <% provide(:title, "About") %>
    <h1 class="text-center text-primary">About</h1>

    <h2>What is UNCC Textbook Exhange?</h2>
    <p>
        UNCC Textbook Exchange is a convenient and safe platform for UNC
        Charlotte students to swap, sell, and purchase textbooks.
    </p>
    <h3>Why did we make it?</h3>
    <p>
        There are other sites such as Craigslist which allow users to
        buy and sell items free of charge, but what you sacrifice for cost
        and convenience is safety.  Look around online and there are 
        countless numbers of Craigslist horror stories ranging from awkward
        and weird to downright scary.  With our site we require that all 
        users have a valid UNCC email address, so you know you’re dealing 
        with one of your peers.
    </p>
    <h4>Who made it?</h4>
    <p>
        UNCC Textbook Exchange was made for our Spring 2019 ITSC 3155
        Software Engineering course.  Our team consists of Oliver King
        , Stefan Dybka, Bon Raj, Josh Williams, and Shrav Rajan.
    </p>
    <div class="d-flex justify-content-between p-3" >
      <%= image_tag("OliverK.png",width: '160px') %>
      <%= image_tag("StefanD.png",width: '160px') %> 
      <%= image_tag("BonaventureR.png",width: '160px') %>
      <%= image_tag("JoshW.png",width: '160px') %>
      <%= image_tag("BonaventureR.png",width: '160px') %>
    </div>
</div>
