<div class="container">
    <!-- Main Page -->
    <div class="row shadow bg-white justify-content-center p-3 m-4">
        <!-- Title Text -->
        <div class="row justify-content-center">
            <h1 class="text-center text-primary">FAQ</h1>
        </div>
        
        
        <div class="row justify-content-center w-100 pt-5">
            
            <!-- Navigation Buttons -->
            <div class="col-2">
                <%= button_to 'Home', root_url, :class =>"btn btn-outline-primary btn-block mb-2", :method => :get %>
                <%= button_to 'View Listings', listings_url, :class => 'btn btn-outline-primary btn-block mb-2', :method => :get %>
                <%= button_to 'New Listing', new_listing_url, :class => 'btn btn-outline-primary btn-block mb-2', :method => :get %>
                <%= button_to 'Edit Listings', root_path, :class => 'btn btn-outline-primary btn-block mb-2', :method => :get %>
                <%= button_to 'About', '/about', :class => 'btn btn-outline-primary btn-block', :method => :get %>
            </div>
            
            <!-- FAQ Paragraph -->
            <div class="col">
                <h2>Is a UNCC email required?</h2>
                <p>
                    Yes! For the safety of our students, we require a UNCC email to signup for our service.
                </p>
                <h2>Will there be other questions here?</h2>
                <p>
                    Maybe, idk.
                </p>
            </div>
    </div>
</div>