<!-- Title Text -->
<div class="row justify-content-center">
    <h1 class="text-center text-primary">Welcome to UNCC Textbook Exchange</h1>
    <h2 class="text-center">Swap, Sell, and Purchase Textbooks</h2>
</div>
        
<!-- Navigation Buttons -->
<div class="row justify-content-center w-60 btn-block">
    <%= button_to 'View All Listings', listings_path, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
    <%= button_to 'Post A New Listing', new_listing_path, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
    <%= button_to 'Edit Your Listings', root_path, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
    <%= button_to 'About UNCC Textbook Exchange', about_path, :class => "btn btn-outline-primary btn-block mt-3", :method => :get %>
    <%= button_to 'Help', help_path, :class =>"btn btn-outline-primary btn-block mt-3", :method => :get %>
</div>
