<div class="row justify-content-center w-100">
  <% provide(:title, "Reports") %>
  <h1>Reports</h1>
</div>
 
<div class="table-responsive">
  <table id="dttb" class="table table-bordered table-hover table-condensed">
    <thead class='thead-light'>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Reason</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
   <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.email %></td>
        <td><%= report.reason %></td>
        <td><%= link_to 'Show', report_path(report) %></td>
        <td><%= link_to 'Delete', 
          report_path(report), 
          method: :delete, 
          data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'Home', root_url %>
</div>
