<div class="row justify-content-center w-100">
  <% provide(:title, "Reports") %>
  <h1>Reports</h1>
</div>
 
<div class="table-responsive">
  <table id="dttb" class="table table-bordered table-hover table-condensed">
    <thead class='thead-light'>
      <tr>
        <th>Reporter</th>
        <th>Email</th>
        <th>Reason</th>
        <th>Listing</th>
        <th></th>
      </tr>
    </thead>
   <tbody>
    <% Report.all.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.email %></td>
        <td><%= report.reason %></td>
        <td><%= link_to Listing.find(report.listing_id).title, listing_path(report.listing_id) %></td>
        <td><%= link_to 'Delete', 
          listing_report_path(Listing.find(report.listing_id), report),
          method: :delete, 
          data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
