<div class="row justify-content-center w-100">
      <% provide(:title, "Reports") %>
   <h1 class='text-primary'>Reports</h1>
</div>

<%= form_for :report, url: reports_path do |f| %>


<div class="m-2">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'w-100' %>
</div>

<div class="m-2">
      <%= f.label :email %><br>
      <%= f.text_field :email, :class => 'w-100' %>
</div>

<div class="m-2">
      <%= f.label :reason %><br>
      <%= f.text_field :reason, :class => 'w-100' %>
</div>

<br/>
<div class="row justify-content-center m-2">
      <div class="col">
        <%= f.submit :Report, :class => "btn btn-outline-primary btn-block" %>
      </div>
</div>


<% end %>