<div class="row justify-content-center w-100">
      <% provide(:title, "New Report") %>
   <h1 class='text-primary'>New Report</h1>
</div>

<div class="row justify-content-center w-100">
      <%= form_for :report, :html => {:class => "justify-content-center w-50" }, url: listing_reports_path do |f| %>
            <% if @report.errors.any? %>
              <h4>
                <%= pluralize(@report.errors.count, "error") %> prohibited
                    this report from being saved:
              </h4>
                  <ul>
                    <% @report.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
            <% end %>
          
      <div class="m-2">
            <%= f.text_area :reason, :class => 'w-100' %>
      </div>

      <div class="row justify-content-center m-2">
            <div class="col">
              <%= f.submit :Report, :class => "btn btn-outline-primary btn-block" %>
            </div>
      </div>
      <% end %>
</div>